In [2]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [14]:
def regression_model():
    # Create Model
    model = Sequential()
    model.add(Dense(10, activation = 'relu', input_shape = (x_cols,)))
    model.add(Dense(1))
    
    # Compile Model
    model.compile(optimizer = 'adam', loss = 'mean_squared_error')
    return model

In [15]:
# Split Train Test Data

from sklearn.model_selection import train_test_split

In [16]:
Range = range(0,50)
Range = list(Range)

In [17]:
Range 

MSE = []

i = 0
iteration = 0

while (iteration != 49):
    iteration = Range[i]
    
    data = pd.read_csv('https://cocl.us/concrete_data')
    
    data_columns = data.columns
    x = data[data_columns[data_columns != 'Strength']]
    y = data[['Strength']]
        
    x_cols = x.shape[1]
    
    model = regression_model()
    
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30, random_state = i)
    model.fit(x_train, y_train, validation_data = (x_test, y_test), epochs = 50, verbose = 0)
    evaluation_score = model.evaluate(x_test, y_test, verbose = 0)
    
    i = i + 1
    
    MSE.append(evaluation_score)

In [18]:
MSE_df = pd.DataFrame(MSE, columns = ['MSE'])

In [19]:
MSE_df.head()

          MSE
0  150.078773
1  142.290700
2  122.526722
3  127.439004
4  792.503624

In [20]:
print('MSE Mean: ', MSE_df['MSE'].mean())
print('MSE Standard Deviation: ', MSE_df['MSE'].std())

MSE Mean:  308.77856402276785
MSE Standard Deviation:  362.1402430221381